/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Segoe+UI&display=swap');

:root {
  --primary-color: #A31621;
  --secondary-color: #FCF7F8;
  /* other variables */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--secondary-color);
}